<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bus Bookings</title>
</head>
<body>
<h1>All Bus Bookings</h1>

<table border="2">
    <thead>
    <tr>
        <th>Passenger Name</th>
        <th>Pick Up</th>
        <th>Drop</th>
        <th>Ticket Price</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="booking : ${booking}">
        <td th:text="${booking.name}"></td>
        <td th:text="${booking.pickUp}"></td>
        <td th:text="${booking.dropLocation}"></td>
        <td th:text="${booking.ticketPrice}"></td>
        <td>
            <a th:href="@{/fetchById(Id=${booking.id})}" class="btn btn-sm btn-warning">Edit</a>
            <a th:href="@{/deleteById(id=${booking.id})}" class="btn btn-sm btn-danger">Delete</a>

        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
